<a tabindex="0" class='assign-name' data-toggle="popover" data-html="true" data-trigger="focus" data-placement="bottom" title="{{name}}" data-content="Created: <span class='pull-right popover-right'>{{prettyDate created}}</span>{{#if completed}}<br/>Finished: <span class='pull-right popover-right'>{{prettyDate date-completed}}</span>{{/if}}">
    {{name}}
</a>