/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.main-header {
    position: fixed;
    top: 51px;
    height: 50px;
    z-index: 1000;
    display: block;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.main-header h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.main-header .pull-right {
    position: fixed;
    right: 0;
    padding-right: 10px;
}

.main-header-fix-block {
    height: 50px;
}

@media (max-width: 768px) {

    .main-header {
        margin-left: 0;
    }

}

@media (min-width: 768px) {

    .main-header {
        margin-left: 0;
    }

    .navbar-classes {
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
    .sidebar-bottom-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        display: block;
        padding: 20px;
        z-index: 999;
    }

}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.assign-list {
    list-style-type: none;
}

.ralign-0margin-0padding {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: right;
}
.class-btn-icon:hover {
    color: blue;
}
.hover-btn:hover {
    color: blue;
}
.crsr-pointer {
    cursor: pointer;
}
#add-new-assign-btn {
    font-size: 20px;
    padding-top: 5px;
}
#add-new-class-btn {
    font-size: 20px;
}
.assign-li {
    margin-right: 0;
    margin-left: 0;
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
}

.assign-list {
    margin-bottom: 0;
    padding-left: 0;
}

@media (max-width: 768px) {

    .overdue-days {
        display: none;
    }

    #new-assignment-btn-lg {
        display: none;
    }

    #header-class-btns {
        padding-left: 5px;
    }

    #add-new-dropdown-ul {
        left: -80px;
    }

    .assign-li {
        padding-right: 5px;
        padding-left: 5px;
    }

}

@media (min-width: 768px) {

    #new-assignment-btn-sm {
        display: none;
    }

    #header-class-btns {
        display: none;
    }

}

.assign-li:hover {
    background-color: #eee;
}
.assign-cb {
    padding-right: 10px;
}
.fa-check-square-o {
    padding-right: 9px !important;
}
a.assign-name {
    color: #000;
    text-decoration: none;
    outline: 0;
}
a.assign-name:active {
    color: #000;
    text-decoration: none;
    outline: 0;
}
a.assign-name:hover {
    color: #000;
    text-decoration: none;
    outline: 0;
}
a.assign-name:focus {
    color: #000;
    text-decoration: none;
    outline: 0;
}
a.assign-name:visited {
    color: #000;
    text-decoration: none;
    outline: 0;
}
.popover-right {
    padding-left: 10px;
}

/* Panel Mods */

#main {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

div.panel {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-width: 0.5px;
    border-radius: 0 !important;
}

div.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

div.panel-group {
    margin-bottom: 0;
    border-radius: 0 !important;
}

div.panel-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.duegroup-title {
    font-size: 18px;
    vertical-align: middle;
}